@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">


<div class="row  my-5">
    <div class="col">
        <img src="/images/dina.png" class="mx-auto" alt="403" />
    </div>
    <div class="col text-center my-auto">

   
    <h3 class="lead text-center text-dark">we can not find what you are looking for</h3>
    <p class="text-dark text-center">go an search again</p>
    <h2 class="display-1"> sorry</h2>
    </div>
</div>


</div>