@model FunShop.Core.services.ProductVM

<div class="container d-flex justify-content-center align-items-center banner bg-success text-white h-100">
    <div class="text-center ">

        <h2 class="text-light">FunShop</h2>
        <p>have fun shopping with us.</p>
        <a class="btn btn-outline-light" href="#">see more</a>
    </div>
    <img src="~/images/dina.png" />
</div>
    
<!-- end of header -->
<section class=" my-3">
    <div class="container  my-3 py-3 px-2">
        <div class="row">
            <div class="col-md-6 ">
                <img src="~/images/@Model.ImageName" class="w-100" style="height: 425px;" alt="">
            </div>
            <div class="col-md-6">
                <div class="border p-5">
                    <h1>@Model.Name</h1>
                    <p>
                       @Model.Description
                    </p>
                    <p>price <span class="text-success">@Model.Price</span></p>
                    <div>
                        <button class="btn btn-success w-100" asp-action="AddToCart" asp-controller="Cart"asp-route-id="@Model.Id" >add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>